<h1>Profile Page for <%= @user.username %></h1>

<h3><%= flash[:notice] %></h3>

<%= image_tag @user.avatar %>


<hr>
<%= button_to "Delete Account", @user, method: :delete %>

<br>

<%= button_to "Edit Account", edit_user_path(@user), method: :get %>
